<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment33</button>


<a class="nav-link text-dark" [routerLink]="['/counter/sub-counter']">Go To Sub Counter</a>

<button class="btn btn-primary" (click)="gotoSubcounter('/counter/sub-counter',2)">Go To Sub Counter by navigateByUrl888 </button>

<a class="nav-link text-dark" [routerLink]="['/counter/sub2-counter',8]">QQQQQGo To Sub2 66</a>

<!--<router-outlet></router-outlet> :With angular10 allow declare mutile router-outlet at level component-->

<h2>Outer router</h2>
